_site/

.Rproj.user/AE36A571/sources/prop/5C5DF609
.Rproj.user/AE36A571/sources/prop/INDEX
.Rproj.user/AE36A571/sources/session-36DA9874/198174A2
.Rproj.user/AE36A571/sources/session-36DA9874/198174A2-contents
.Rproj.user/AE36A571/sources/session-36DA9874/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rhistory
*.pper
.Rproj.user/AE36A571/rmd-outputs
.Rproj.user/AE36A571/saved_source_markers
.Rproj.user/AE36A571/sources/per/t/198174A2
.Rproj.user/AE36A571/sources/per/t/198174A2-contents
files/CV_Feuillade_Mylene.docx

_site
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.DS_store
.ruby-version
.tweet-cache
Gemfile.lock
vendor